* {
  margin: 0%;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* =========================================== Nav BAr ================================== */
body {
  background-color: rgb(0, 0, 0);
}

nav {
  margin-top: 25px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.534);
  border-radius: 50px;
  padding: 0px 40px;
}
.nav-main h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color:  rgb(255, 123, 0) ;
  /* height: 20px;
  padding: 24px; */
}
/* .nav-main ul li {
  color: #e6edf3;
  font-family: "poppins";
  font-size: 24px;
  justify-content: space-around;
  list-style: none;
  display: inline;
}
.nav-main a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-main a:hover {
  text-decoration: underline;
  transition-duration: 01s;
  color: rgb(255, 123, 0);
} */

/* ======================================== main =============================== */
.main {
  display: flex;
  
}

/* .right {
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0, 0, 0, 0.1;
  width: 300px;
  height: 400px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 10px;
}
.right:hover{
  border: 2px solid rgb(255, 123, 0);
  transition-duration: 0.3s;

}
.right h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: white;
  padding-top: 5px;
  padding-left: 5px;
} */

/* ========================== Left ============================= */

main {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
}

.left {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#task-input input {
  width: 160px;
  height: 25px;
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 10px;
  border: rgb(255, 123, 0);
  outline: rgb(255, 123, 0);
  border: 2px solid rgb(255, 123, 0);
  border-radius: 40px;
  font-size: 18px;

  padding: 5px 5px 5px 27px;
}

.column {
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0, 0, 0, 0.1;
  min-height: 300px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.column:hover {
  border: 2px solid rgb(255, 123, 0);
  transition-duration: 0.3s;
}
.column > h3 {
  text-transform: capitalize;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column > p {
  padding: 8px;
  background-color: rgb(255, 123, 0);
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.column > form > input {
  width: 80%;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 10px;
  border: rgb(255, 123, 0);
  outline: rgb(255, 123, 0);
  border: 2px solid rgb(255, 123, 0);
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 5px 5px 27px;
}


#addCard{
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border:none;
  outline: noe;
  background-color: rgb(255, 178, 106);
  color: black;
  font-size: 18px;
}
#addCard:hover{
  background-color: rgb(255, 123, 0) ;
  border: rgb(255, 205, 159);
  outline: rgb(255, 215, 177);
}


/* ================================================== For Tablet =============================================== */

@media screen and (max-width: 768px) {

  nav {
    margin-top: 24px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.534);
    border-radius: 46px;
    padding: 0px 40px;
  }
  .nav-main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color:  rgb(255, 123, 0) ;
    
  }

  .column {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0, 0, 0, 0.1;
    min-height: 200px;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .column > h3 {
    text-transform: capitalize;
    font-size: 26px;
    color: white;
    text-align: center;
  }

  .column > p {
    padding: 6px;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: center;
  }

  .column > form > input {
    width: 70%;
    height: 26px;
    margin-left: 8px;
    margin-top: 10px;
    padding-left: 8px;
    border: rgb(255, 123, 0);
    outline: rgb(255, 123, 0);
    border: 2px solid rgb(255, 123, 0);
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 5px 5px 27px;
  }
  


}


/* ================================================== For Mobile 414*869 =============================================== */


@media screen and (max-width:414px) {

  nav {
    margin-top: 22px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.534);
    border-radius: 42px;
    padding: 0px 40px;
  }
  .nav-main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color:  rgb(255, 123, 0) ;
    
  }

  .column {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    box-shadow: 0, 0, 0, 0.1;
    min-height: 200px;
    width: 180px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .column > h3 {
    text-transform: capitalize;
    font-size: 22px;
    color: white;
    text-align: center;
  }

  .column > p {
    padding: 6px;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
  }

  .column > form > input {
    width: 66%;
    height: 24px;
    margin-left: 8px;
    margin-top: 10px;
    padding-left: 8px;
    border: rgb(255, 123, 0);
    outline: rgb(255, 123, 0);
    border: 2px solid rgb(255, 123, 0);
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 5px 5px 27px;
  }
  


}

/* ================================================== For Mobile 380*667 =============================================== */


@media screen and (max-width:380px) {

  nav {
    margin-top: 22px;
    height: 36px;
    background-color:rgba(255, 255, 255, 0.534);
    border-radius: 38px;
    padding: 0px 36px;
  }
  .nav-main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color:  rgb(255, 123, 0) ;
    
  }

  .column {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    box-shadow: 0, 0, 0, 0.1;
    min-height: 200px;
    width: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .column > h3 {
    text-transform: capitalize;
    font-size: 22px;
    color: white;
    text-align: center;
  }

  .column > p {
    padding: 6px;
    background-color: rgb(255, 123, 0);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
  }

  .column > form > input {
    width: 68%;
    height: 22px;
    margin-left: 6px;
    margin-top: 8px;
    padding-left: 6px;
    border: rgb(255, 123, 0);
    outline: rgb(255, 123, 0);
    border: 2px solid rgb(255, 123, 0);
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    padding: 5px 5px 5px 27px;
  }
  

}